---
layout : layouts/base.njk

---

	<!-- Header -->
	<section id="header" class="dark">
		<header>
			<h1>
				<a href="{{ data.product }}" id="logo">{{ data.app_title }}</a>
			</h1>
			<p>
				<a href="https://appseed.us/static-site/">Static Site</a> prototyped on top of <a href="https://www.11ty.io/">Eleventy SSG</a> - 
				<a href="{{ data.github }}">Sources</a> &bull; <a href="/elements/">UI Kit</a>
			</p>
		</header>
		<footer>
			<a href="#first" class="button scrolly">See More</a>
		</footer>
	</section>

	<!-- First -->
	<section id="first" class="main">
		<header>
			<div class="container">
				<h2>Tessellate is a free responsive site template</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
				feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</header>
		<div class="content dark style1 featured">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon fa-clock"></span></span>
							<header>
								<h3>Gravida</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
							Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
							ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus.</p>
						</section>
					</div>
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
							<header>
								<h3>Vivamus</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
							Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
							ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus.</p>
						</section>
					</div>
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
							<header>
								<h3>Accumsan</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
							Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
							ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus.</p>
						</section>
					</div>
					<div class="col-12">
						<footer>
							<a href="#second" class="button scrolly">Gravida tempor lacinia</a>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Second -->
	<section id="second" class="main">
		<header>
			<div class="container">
				<h2>Euismod sed feugiat lorem tempus magna</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
				feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</header>
		<div class="content dark style2">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-narrow">
						<section>
							<h3>Augue vivamus sed ipsum commodo lorem dolor</h3>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
							tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
							vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
							augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
							lorem ipsum dolor placerat magna tempus feugiat.</p>
							<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
							euismod lorem ipsum dolor.</p>
							<footer>
								<a href="#third" class="button scrolly">Accumsan nisi tempor</a>
							</footer>
						</section>
					</div>
					<div class="col-8 col-12-narrow">
						<div class="row">
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Third -->
	<section id="third" class="main">
		<header>
			<div class="container">
				<h2>Ornare varius lorem ipsum ante lectus</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
				feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</header>
		<div class="content dark style3">
			<div class="container">
				<span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
				<div class="row">
					<div class="col-4 col-12-narrow">
						<h3>Diam vivamus turpis lorem sodales lectus ornare</h3>
						<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
						tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
						vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
						augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
						lorem ipsum dolor placerat magna tempus feugiat.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
						accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
						euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu eget ornare varius
						gravida dolore euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu
						eget ornare et magna.</p>
					</div>
					<div class="col-4 col-12-narrow">
						<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
						tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
						vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
						augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
						lorem ipsum dolor placerat magna tempus feugiat.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
						accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
						euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
						Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
						accumsan vivamus augue cubilia.</p>
					</div>
					<div class="col-4 col-12-narrow">
						<p>Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui
						lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc
						euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue
						cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
						lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod
						est turpis sodales. Diam tempor dui lacinia dolore.</p>
						<p>Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida
						dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet
						consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.</p>
						<footer>
							<a href="#fourth" class="button scrolly">Ipsum ornare lorem dolor</a>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fourth" class="main">
		<header>
			<div class="container">
				<h2>Sed feugiat ipsum consequat</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
				feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</header>
		<div class="content style4 featured">
			<div class="container medium">
				<form method="post" action="#">
					<div class="row gtr-50">
						<div class="col-6 col-12-mobile"><input type="text" placeholder="Name" /></div>
						<div class="col-6 col-12-mobile"><input type="text" placeholder="Email" /></div>
						<div class="col-12"><textarea name="message" placeholder="Message"></textarea></div>
						<div class="col-12">
							<ul class="actions special">
								<li><input type="submit" class="button" value="Send Message" /></li>
								<li><input type="reset" class="button alt" value="Clear Form" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
